@charset "utf-8";
/* 
 * Author:验收时间
 * Date：2015-6-8
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
input,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
background:transparent;
}
article, aside, figure, footer, header,
hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; cursor:pointer;}
a:link, a:visited {text-decoration: none;}
a:active, a:hover {text-decoration: none; cursor:pointer;}
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ul,ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic;}
ins { background-color:#ff9; color:#000; text-decoration:none;}
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; font-family:'Microsoft Yahei'; }
textarea{resize:none; }
html{ overflow-x: hidden;}
body{ background:#ffffff;  font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0 !important; overflow:auto !important;}
.layout:after, .clearfix:after { content:"\0020"; display:block; clear:both; height:0;}
.layout, .clearfix { *zoom:1;}
.center{ width:1160px; max-width:1160px; margin:0px auto; overflow:hidden}
/* END RESET CSS */
.t5o{-webkit-transition:all .5s ease .1s !important; 
	-moz-transition:all .5s ease .1s !important; 
	-o-transition:all .5s ease .1s !important; 
	transition:all .5s ease .1s !important;}
.t8o{-webkit-transition:all .8s ease .1s; 
	-moz-transition:all .8s ease .1s; 
	-o-transition:all .8s ease .1s; 
	transition:all .8s ease .1s}
.t20o{-webkit-transition:all 20s ease .1s; 
	-moz-transition:all 20s ease .1s; 
	-o-transition:all 20s ease .1s; 
	transition:all 20s ease .1s}
.t3out{-webkit-transition:all 0.3s ease-out 0s; 
	-moz-transition:all 0.3s ease-out 0s; 
	-o-transition:all 0.3s ease-out 0s; 
	transition:all 0.3s ease-out 0s}
.YaHei{font-family:'Microsoft Yahei';}
.HT{font-family:'SimHei';}
.ST{font-family:'SimSun';}
.Cambria{font-family:'Cambria';}
.Arial{font-family:Arial, Helvetica, sans-serif;}
.fl{ float:left;}
.fr{ float:right;}

.bodyiphone{ font-size:66.6%;}
.body{background: #f3f3f3;}
a:hover{ color:#1bbc9b; opacity: .9;}
.uppercase{ text-transform:uppercase;}
.textShadow{text-shadow:0 1px 0 #345a49;}
.font10{ font-size:10px;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font15{ font-size:15px;}
.font13{ font-size:small;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font22{ font-size:22px;}
.font24{ font-size:24px;}
.font26{ font-size:26px;}
.font30{ font-size:30px;}
.font32{ font-size:32px;}
.font36{ font-size:36px;}
.font40{ font-size:40px;}
.font44{ font-size:44px;}
.font46{ font-size:46px;}
.font48{ font-size:48px;}
.font50{ font-size:50px;}
.font58{ font-size: 58px;}
.font60{ font-size:60px;}
.font62{ font-size:62px;}
.font72{ font-size:72px;}
.font110{ font-size:110px;}
.line0{ line-height:0;}
.line1{ line-height:1;}
.line2{ line-height:2;}
.fontCW{ color:white;}
.marginB2{ margin-bottom:2%;}
.marginB4{ margin-bottom:4%;}
.marginB5{ margin-bottom:5px;}
.marginB6{ margin-bottom:6px;}
.marginB10{ margin-bottom:10px;}
.marginB14{ margin-bottom:14px;}
.marginB16{ margin-bottom:16px;}
.marginB20{ margin-bottom:20px;}
.marginB29{ margin-bottom:30px;}
.marginB38{ margin-bottom:40px;}
.marginB40{ margin-bottom: 40px;}
.marginB50{ margin-bottom:50px;}
.marginB55{ margin-bottom:55px;}
.marginB60{ margin-bottom:60px;}
.marginB65{ margin-bottom:65px;}
.marginB70{ margin-bottom:70px;}
.marginB84{ margin-bottom:84px;}
.marginR10{ margin-right:10px;}
.textIndent{text-indent:1em; margin-bottom:8px;}
.show{ display:block;}
.hide{ display:none;}
.bold{ font-weight:bold;}
.textR{ text-align: right;}
.textC{ text-align: center;}
.color00{ color: #010000;}
.coloraa{ color: #aaaaaa;}
.color33{ color: #333333;}
.color66{ color: #666666;}
.colorCC{ color: #cccccc;}
.color6d{ color: #6dd6c6;}
.color99{ color: #999999;}
.color92{ color: #929292;}
.color5e{ color: #5ecfba;}
.color1b{ color:#1bbc9b;}
.colorfa0{ color:#ffad0f;}
.colore3{ color:#e3e3e3;}
.colorff{ color:#ffffff;}
.coloree{ color:#eeeeee;}
.colorf8f{ color:#F8FAF9;}
.color123{ color:#1E2730;}
.colore7{ color:#e7e7e7;}

.moveLeft{ margin-right:-200px; opacity:0;}

.section1{ width:100%; height:500px; background:url(../images/bannerbg.jpg) no-repeat; background-size:cover; position:relative; padding-top:1px; overflow:hidden;}
.section1 .center{ overflow:inherit;}
.section1>video{ position:absolute; top:0px; left:0; z-index:1;}
.logo{}
.logo>a{ display:inline-block; width:145px; height:36px; background:url(../images/logo.png) no-repeat;}
.topHead{ width:100%; height:51px; padding-top:14px; position:relative; z-index:12;}
.top_menu{ margin-left:35px;}
.top_menu>li{position:relative; display:inline-block;padding:0 20px; float:left; line-height:36px;}
.top_menu>li>a{ color:#e0dad7; font-size:14px; opacity: 1;}
.top_menu>li>a>b{ display:none; position:absolute; left:0; top:-14px; width:100%; height:60px; border:1px solid #e9e9e9; border-width:0 1px; border-top:5px solid #5ecfba; background:#ffffff; z-index:2;}
.top_menu>li>a>span{ position:relative; z-index:10;}
.topRight{ float:right;}
a.topSreach{ width:36px; height:32px; background:url(../images/sreach.png) center center no-repeat;display:inline-block; vertical-align:middle; opacity:1; position:absolute; top:0; right:0;}
.topRight .a{ width:70px; height:32px; line-height:32px; text-align:center; color:#e0dad7; border-radius:2px; display:inline-block; vertical-align:middle;font-size:14px;  margin-right:12px;}
.topRight .a:hover{ background:rgba(255,255,255,.1);}
.topRight .a:last-child{ margin-right:0;}
.section1_font{ position:absolute; top:42%; margin-top:-61px; left:0; width:100%; z-index:10;}
.section1_bottom{ position:absolute; bottom:0; left:0; width:100%; height:100px; background:rgba(0,0,0,.2); z-index:10;}
.section1_bottom>div{ padding:20px 0;}
.section1_menu{ display:table; width:100%;}
.section1_menu li{ float:left; width:25%; padding:5px 40px; box-sizing:border-box; border-right:1px solid #bebfc2; cursor:pointer; position:relative; height:60px; }
.section1_menu li .img{ display:inline-block; width:49px; height:49px; background:url(../images/banner_ico.png) no-repeat; vertical-align:middle; z-index:10; position:relative;}
.section1_menu li .img.i2{ background-position:0 -49px;}
.section1_menu li .img.i3{ background-position:0 -98px;}
.section1_menu li .img.i4{ background-position:0 -147px;}
.section1_menu li .font{display:inline-block; width:140px;vertical-align:middle; margin-left:20px; z-index:10; position:relative;}
.section1_menu li:last-child{ border-right:0;}
.section1_menu li .menu2{ position:absolute; bottom:-20px; width:100%; left:0; z-index:6; display:none;}
.section1_menu li .menu2 a{ display:block; padding:15px 20px; height:24px; line-height:24px; color:#ffffff; font-size:16px; margin-bottom:1px; background:rgba(0,0,0,.4);}
.section1_menu li .menu2 a>img{ vertical-align:middle; margin-right:21px;}
.section1_bottom>.center{ overflow:inherit;}
.menu2_bg{ background:rgba(0,0,0,.3); width:100%; height:101px;}
.section2{ padding:60px 0; background:#f5f5f5;}
.section2>a{ display:inline-block; width:200px; height:60px; background:#5ecfba; border-radius:3px; line-height:60px; color:#ffffff;}
.section3{ padding:62px 0; overflow-y:hidden; position:relative; height:700px;}
.section3>img{ position:absolute; bottom:-666px; }
.section3>img.img1{left:50%; margin-left:-432px; z-index:10;}
.section3>img.img2{left:50%; margin-left:-682px; z-index:9; bottom:-676px;}
.section3>img.img3{left:50%; margin-left:-190px; z-index:8; bottom:-686px;}
.section4{ width:100%; line-height:200px; background:#5ecfba;}
.section5{ width:100%; background-repeat:no-repeat; background-size:cover; position:relative;}
.section5 .div{ width:800px; position:absolute; top:50%; left:50%; margin:-100px 0 0 -400px; height:320px; z-index:10;}
.section5 .div .font32{ height: 140px; overflow: hidden;}
.videoArrow{ display:inline-block; width:50px; height:50px; background:url(../images/videoArrow.png) no-repeat;}
.section5_bottom{ width:100%; position:absolute; left:0; bottom:-34px; z-index:30;}
.section5_bottom>a{ display:inline-block; overflow:hidden; border-radius:50%; width:66px; height:66px; border:2px solid #dedcdb; position:relative; margin:0 15px; opacity:1; vertical-align:middle;}
.section5_bottom>a img{ width:100%; vertical-align:top;}
.section5_bottom>a i{ position:absolute; left:0; top:0; width:100%; height:100%; z-index:1; background:rgba(255,255,255,.4); border-radius:50%;}
.section5_bottom>a:hover,.section5_bottom>a.aH{transform: scale(1.4);-ms-transform: scale(1.4);-webkit-transform: scale(1.4);	-o-transform: scale(1.4);	-moz-transform: scale(1.4);	}
.section5_bottom>a:hover i,.section5_bottom>a.aH i{ display:none;}
.jobs_list{ display:inline-block; width:100%;}
.jobs_list li{ float:left; width:25%; position:relative; text-align:center;}
.jobs_list li>img{ width:100%;  vertical-align:top;  -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%);  -o-filter: grayscale(100%);  filter: grayscale(100%);  filter: url('url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%
200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");'); filter: gray;  }
.jobs_list li>div{ position:absolute; top:0; left:0; width:100%; height:100%;}
.jobs_list li>div .p1{ padding-top:84%; margin-bottom:5%;}
.jobs_list li>div .p2{ opacity:0; height:0px; overflow:hidden;}
.jobs_list li>div .p2 a{ display:inline-block; max-width:100px; width:24%;}
.jobs_list li>div .p2 a img{ width:100%; vertical-align:top;}
.jobs_list li>div .p3{ padding:0 50px; position:absolute; left:0; bottom:10%;}
.jobs_list li>div p{-webkit-transition:all 0.3s ease-out 0s; 	-moz-transition:all 0.3s ease-out 0s; 	-o-transition:all 0.3s ease-out 0s; 	transition:all 0.3s ease-out 0s}
.jobs_list li.liH>img,.jobs_list li:hover>img{ -webkit-filter: grayscale(0%);  -moz-filter: grayscale(0%);  -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%); filter: none; }
.jobs_list li.liH>div .p1,.jobs_list li:hover>div .p1{ padding-top:16%;}
.jobs_list li.liH>div .p2,.jobs_list li:hover>div .p2{ opacity:1; height:auto; overflow:inherit; padding:14% 0; margin-bottom:18%;}
.section6{ padding-top:100px;}
.bxslider>li>div{ position:absolute; right:20%; width:564px; top:50%; margin-top:-108px; z-index: 10;}
.section7{ background:#f5f5f5; padding-top:70px; position:relative; height:700px;}
.ImgCen{ position:absolute; left:50%;}
.section7 .img1{ margin-left:-472px; bottom:0;}
.section7 .img2{ margin-left:105px; bottom:0;}
.section8{ padding-top:70px;}
.index_news{ width:100%;}
.index_news>li{ width:100%; display:inline-block; margin-bottom:50px;}
.index_news>li .img{ float:left; width:300px; overflow:hidden;}
.index_news>li .img img{ width:100%; vertical-align:top;}
.index_news>li .font{ float:left; width:816px; margin-left:40px;}
.index_news>li .font .p2{ line-height:1.8; margin-bottom:26px;}
.index_news_more{ display:inline-block; color:#1bbc9b; border:1px solid #5ecfba; width:208px; height:58px; border-radius:3px; line-height:58px; text-align:center; font-size:14px;}
.section9{ width:100%; height:300px; background:url(../images/sreachBG.jpg) no-repeat; background-size:cover;}
.section9>.center{ width:600px;}
.sreachBBox{ width:100%; height:60px; background:#ffffff;}
.sreachBBoxTxt{ font-size:16px; width:526px; padding-left:10px;}
.sreachBBoxBtn{ width:60px; height:60px; background:url(../images/sreachBtn.png) center center no-repeat;}
.sreachBBoxHot{ width:100%;}
.sreachBBoxHot a{ display:inline-block; font-size:16px; color:#ffffff; margin:0 10px; padding:18px 0;}
.section9 .p1{ padding:76px 0 25px;}
.index_news > li .img a{ opacity:1;}
.index_news > li .img:hover img{transform: scale(1.1);-ms-transform: scale(1.1);-webkit-transform: scale(1.1);-o-transform: scale(1.1);	-moz-transform: scale(1.1);}

.v5-footer-links {padding-top: 25px; padding-bottom: 25px; display:table; width:100%; height:176px;}
.v5-footer-links dl {	float: left}
.v5-footer-links dt {	font-size: 18px;	height: 45px;	line-height: 45px;	color: #666666;	font-weight: normal}
.v5-footer-links .f-link {	width: 578px}
.v5-footer-links .f-link ul {	padding-top: 5px}
.v5-footer-links .f-link li {	font-size: 14px;	line-height: 24px;	padding-bottom: 16px}
.v5-footer-links .f-link li a {	float: left; margin-right: 10px; color:#999999; font-size: 12px;}
.v5-footer-links .f-link li a:hover {	color: #1BBC9B}
.v5-footer-links .f-link li span {	float: left;	margin: 0 5px}
.v5-footer-links .webmap,.v5-footer-links .follow {	float: right;	margin-left: 70px}
.v5-footer-links .webmap{ width: 204px; margin-left: 0;}
.v5-footer-links .webmap li {line-height: 25px; float: left; width: 102px;}
.v5-footer-links .webmap li a{ color:#999999;}
.v5-footer-links .webmap li a:hover {	color: #1BBC9B}
.v5-footer-links .follow{ border-left: 1px solid #e8e8e8; padding-left: 45px; margin-left: 20px;}
.v5-footer-links .follow li {	padding-top: 6px; float: left; text-align: center;color:#999999;}
.v5-footer-links .follow li p{ line-height: 1.4; margin-bottom: 10px;}
.v5-footer-links .follow li a {	display: inline-block;	height: 24px;	line-height: 24px;color:#999999;}
.v5-footer-links .follow li a:hover {	color: #1BBC9B}
.v5-footer-links .follow li a span {	float: left;	width: 24px;	height: 24px;	margin-right: 10px;	background: url(../images/follow.png) no-repeat}
.v5-footer-links .follow li a span.sina {	background-position: 0 0}
.v5-footer-links .follow li a span.weixin {	background-position: 0 -30px}
.v5-footer-links .follow li a span.qq {	background-position: 0 -60px}
.v5-footer-bottom {	padding: 20px 0; color: #999999;}
.v5-footer-bottom a{color: #999999;}

.mainfoot2{ width:100%; border-top:1px solid #e9e9e9; padding:30px 0 50px;}

.section3UL{ width:100%; display:block;}
.section3UL li{ display:inline-block; vertical-align:middle; width:169px; border-right:1px solid #e8e8e8; font-size:14px; color:#999999;}
.section3UL li:last-child{ border:0;}
.topSreachDiv{ display:inline-block; vertical-align:middle; margin-right:28px; position:relative;width:36px; height:32px;}
.topSreachDiv>div{ position:absolute; right:0; top:0;  border-radius:3px; width:46px; height:30px; padding:1px;}
.topSreachTxt{ width:0px; padding:6px 0; padding-left:10px;}
.topSreachDiv.sH>div{width:250px; background:#ffffff;border:1px solid #e9e9e9; padding:0;}
.topSreachDiv.sH .topSreachTxt{width:204px;}
.topSreachDiv.sH .topSreach{ background-image:url(../images/re_sreach.png);}
.top_meg{ display:inline-block; width:32px; height:32px; background:url(../images/havemsg2.png) center center no-repeat; vertical-align:middle; position:relative; margin-right:30px;}
.top_meg>i{ position:absolute; top:-2px; left:10px; height:16px; border-radius:16px; background:#ff725f; color:#ffffff; font-size:12px; display:none; text-align:center; line-height:16px; padding: 0 4px;}
.top_megH{ background-image:url(../images/havemsg.gif)}
.top_megH>i{ display:block;}
.top_user{ display:inline-block; color:#e0dad7; position:relative; padding-right:68px;}
.top_user .ai{ display:inline-block; width:32px; height:32px; border-radius:50%; overflow:hidden; vertical-align:middle;}
.top_user .ai img{ width:100%; height:100%; vertical-align:top;}
.top_user .sp{ position:absolute; left:50px; top:0; height:32px; line-height:32px; display:block; width:250px; cursor:pointer; z-index:10;}
.top_user .sp i{ margin-left:8px; width:12px; height:8px; background:url(../images/top_arrow.png) no-repeat; vertical-align:middle; display:inline-block;}

.poTop .topHead{  width:100%; height:50px; padding-top:14px; border-bottom:1px solid #e9e9e9;}
.poTop{}
.poTop .topHead{ position:fixed; left:0; top:0; background:#ffffff; z-index:1000;}
.poTop .logo>a{ background-image:url(../images/footLogo.png);}
.poTop .top_menu a{ color:#666666; opacity:1;}
.poTop a.topSreach{ background-image:url(../images/re_sreach.png);}
.poTop .topRight .a{ color:#666666; background:#f5f5f5;}
.poTop .topRight .a:hover{ background:#5ecfba; color:#ffffff;}
.top_menu>li:hover>a{}
.top_menu>li:nth-child(1):hover>a>b{display:block; background: url(../images/topMarrow.png) center bottom no-repeat; border-color:transparent; top:-13px;}
.poTop .top_menu>li:hover>a>b{ display:block; border-top:5px solid #5ecfba; background: none; top:-14px;}
.poTop .top_user .sp{ color:#666666;}
.top_menu_div{ background:rgba(255,255,255,.95); width:730px; padding:30px 36px; position:absolute; left:0; top:51px; border:1px solid #e9e9e9; border-top:0; display:none;}
.top_menu_div>ul{ width:100%; display:table;}
.top_menu_div>ul>li{ float:left; margin-right:20px;}
.top_menu_div>ul>li .pt{ padding-bottom:12px; border-bottom:1px solid #efefef; height:22px;}
.top_menu_div>ul>li.li1{ width:280px;}
.top_menu_div>ul>li.li1 .pt>i{ display:inline-block; vertical-align:middle; width:20px; height:20px; background:url(../images/ico.png) no-repeat; margin-right:10px;}
.top_menu_div>ul>li .pcon{ padding:10px 0 0;}
.top_menu_div>ul>li .pcon a{  width:137px; color:#666666; display:inline-block; line-height:30px;}
.top_menu_div>ul>li .pcon a:hover{ color:#1bbc9b;}
.top_menu_div>ul>li.li2{ width:130px;}
.top_menu_div>ul>li.li2 .pt>i{ display:inline-block; vertical-align:middle; width:22px; height:22px; background:url(../images/ico.png) 0 -60px no-repeat; margin-right:10px;}
.top_menu_div>ul>li.li3{ width:130px;}
.top_menu_div>ul>li.li3 .pt>i{ display:inline-block; vertical-align:middle; width:21px; height:21px; background:url(../images/ico.png) 0 -20px no-repeat; margin-right:10px;}
.top_menu_div>ul>li.li4{ width:130px; margin:0;}
.top_menu_div>ul>li.li4 .pt>i{ display:inline-block; vertical-align:middle; width:22px; height:19px; background:url(../images/ico.png) 0 -41px no-repeat; margin-right:10px;}
.top_menu>li:hover .top_menu_div{ display:block;}
.poTop .top_meg{background-image:url(../images/rehavemsg2.png);}
.poTop .top_megH{background-image:url(../images/rehavemsg.gif);}
.poTop .top_user .sp i{background-image:url(../images/retop_arrow.png);}

.zy_VideoDemo .close{ position: absolute; right: 6px; top:6px; z-index: 30; width: 17px; height: 17px; background: url(../images/close.png) center center no-repeat;}

.show-card-wrap {	position: fixed;	width: 100%;	top: 64px;	left: 0;	z-index: 99}
.show-card-wrap.fade .show-card {	visibility: hidden;	-webkit-transform: translate3d(0, -15%, 0);	transform: translate3d(0, -15%, 0);	-webkit-transition: -webkit-transform 0.3s ease-out;	-moz-transition: -moz-transform 0.3s ease-out;	-o-transition: -o-transform 0.3s ease-out;	transition: transform 0.3s ease-out}
.show-card-wrap.in .show-card {	visibility: visible;	-webkit-transform: translate3d(0, 0, 0);	transform: translate3d(0, 0, 0)}
.show-card {	position: absolute;	top: 0;	z-index: 100;	width: 238px;	padding: 16px 30px;	border: #EBEBEB solid 1px;	background: url(../images/cbg.png) repeat}
.show-card .user-pic {	font-size: 0;	display: inline-block;	width: 72px;	height: 72px}
.show-card .user-pic img {	width: 72px;	height: 72px;	border: #fff solid 3px;	-moz-border-radius: 50%;	-webkit-border-radius: 50%;	border-radius: 50%}
.show-card .link-default {	font-size: 20px}
.show-card tr td {	padding-bottom: 10px}
.show-card tr:first-child>td {	padding-bottom: 20px}
.show-card a.link-cancel {display: block;text-align: center;}
.show-card a{ color:#1bbc9b;}
.show-card a.btn-block{ background:#5ecfba; text-align:center; color:#ffffff; font-size:16px; line-height:40px;}

.aboutlessonBox1{ width:100%; height:490px; background:url(../images/aboutLessonbg.png) center top no-repeat #3DBD9C;}
.aboutlessonBox1 .font18{ width: 600px; margin-left: auto; margin-right: auto; height: 50px; overflow: hidden;}
.aboutlessonBox1Btn{ position:relative;}
.aboutlessonBox1Btn a{ display:inline-block; opacity: 1; width:180px; height:50px; border:1px solid #ffffff; color:#ffffff; font-size:14px; margin:0 15px; line-height:50px; border-radius:2px;}
.aboutlessonBox1Btn a:hover{ background:#ffffff; color:#5ECFBA;}
.aboutlessonBox1 .p1{ padding-top:118px;}
.aboutlessonBox1 .pp1{text-shadow: 2005px -186px 0px rgba(255,255,255,.1); padding: 0; height: 0px; margin: 0; text-indent: -4000px; font-size: 80px;letter-spacing:14px;}
.aboutlessonBox2{ width:100%; height:560px; background:url(../images/LessonImg001.jpg) center 0 no-repeat #ffffff;}
.aboutlessonBox2 .div{ width:520px; padding-top:186px;}
.aboutlessonBox2 .div p:nth-child(2){ width: 450px; height: 78px; overflow: hidden;}
.aboutlessonBox3{ width:100%; height:757px; background:#F8F8F8;}
.aboutlessonBox3 .pt{ padding:80px 0 0;}
.aboutlessonBox3_mac{ margin:0 auto 60px; width:700px; height:400px; background:url(../images/LessonImg002.png) no-repeat; position:relative;}
.aboutlessonBox3_mac>div{ position:absolute; z-index:2;}
.aboutlessonBox3_mac>div>i{ display:inline-block; width:129px; height:129px; background:url(../images/LessonImg003.png) no-repeat; vertical-align:middle; margin:0 18px;}
.aboutlessonBox3_mac>div.d1{ top:-20px; left:-226px;}
.aboutlessonBox3_mac>div.d1>i{ background-position:0 -258px;}
.aboutlessonBox3_mac>div.d2{ top:156px; left:-226px;}
.aboutlessonBox3_mac>div.d2>i{ background-position:0 -387px;}
.aboutlessonBox3_mac>div.d3{ top:0; right:-226px;}
.aboutlessonBox3_mac>div.d3>i{ background-position:0 0;}
.aboutlessonBox3_mac>div.d4{ top:224px; right:-226px;}
.aboutlessonBox3_mac>div.d4>i{ background-position:0 -129px;}
.aboutlessonBox3_mac>div.mac{ background:url(../images/LessonImg003.png) 0 -516px no-repeat; width:338px; height:205px; top:256px; left:-78px; z-index:1;}
.aLessonBtn{ display:inline-block; width:170px; height:40px; background:#5ECFBA; border-radius:2px; line-height:40px; text-align:center; font-size:14px; color:#ffffff;}
.aLessonBtn:hover{ color:#ffffff;}
.aboutlessonBox4{ width:100%; background:#F8F8F8;}
.aboutlessonBox4 .pt{ padding-top:110px;}
.aboutlessonBox5{ margin-bottom:126px;}
.aboutlessonBox5 .pt{ padding-top:80px;}
.aboutlessonBox5UL{ width:100%; }
.aboutlessonBox5UL>li{ width:100%; display:table; border-bottom:2px solid #E5E5E5; padding:70px 0 150px; position:relative;}
.aboutlessonBox5UL>li .div{ float:left; width:460px;}
.aboutlessonBox5UL>li .div>div{ background:url(../images/LessonImgPT.png) no-repeat; width:420px; margin:0 auto 40px; height:130px; box-sizing:border-box; padding:30px 0 0 64px;}
.aboutlessonBox5UL>li .div>div .font16{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.aboutlessonBox5UL .pp>span{ font-size:26px;}
.aboutlessonBox5UL>li .div>dl{background:#F8F8F8;  width:100%; display:table;}
.aboutlessonBox5UL>li .div>dl dd{background:#F8F8F8; float:left; width:50%; text-indent:30px; padding:6px 0;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom: 2px solid #ffffff;}
.aboutlessonBox5UL>li .img{ position:absolute; top:70px; right:0;}
.aboutlessonBox5UL>li:nth-child(2n) .div{ float:right;}
.aboutlessonBox5UL>li:nth-child(2n) .img{ left:0; right:auto;}
.aboutlessonBox5UL>li:last-child{ border:0;}
.aboutlessonBox6{ width:100%; height:410px; background:#333333;}
.aboutlessonBox6 .p{ padding-top:80px; }
.aboutlessonBox6>div{ position:relative;height:410px; overflow:inherit;}
.aboutlessonBox6 .img1{ position:absolute; left:0; top:-126px;}
.aboutlessonBox6 .img2{ position:absolute; right:0; bottom:0px;}
.footNewBox{ width:100%; background:#f5f5f5;}
.footNewBox2{ width:100%; height:74px; background:#e9e9e9;}
.footNewBox2 a{ color:#999999;}
.footNewBox2 .p{ padding-top:24px;}
.aboutlessonBox4Div{ width:1160px; margin:0 auto; height:600px;}
.poster-list{ width:100%; height:600px; position:relative;}
.poster-list .poster-item{ position:absolute;  left:50%; margin-left:-152px; top:30px; overflow:hidden;}/*box-shadow:0 0 10px #d8d8d8;*/
.poster-list .poster-item img{ width:100%;}
.poster-list .poster-item:first-child{ z-index:5;}
.aboutlessonBox1Btn .afq{ position:absolute; width:60px; height:20px; top:50%; left:50%; margin:-10px 0 0 224px; font-size:14px; color:#ffffff; line-height:20px; border:0;}
.aboutlessonBox1Btn .afq:hover{ background: none; opacity: .8; color: #ffffff;}
.childTop{ height:65px; padding-top:0;}
.aboutlessonFoot{ position:fixed; bottom:0; left:0; width:100%; height:80px; background:rgba(0,0,0,.5); line-height:80px; z-index:200}
.aboutlessonFoot>div>a{ margin-right:50px;}
.aboutlessonFoot_a1{ display:inline-block; width:170px; height:40px; border-radius:4px; background:#FFAD0E; line-height:40px; color:#ffffff; text-align:center; font-size:14px;}
.aboutlessonFoot_a2{ display:inline-block; width:170px; height:40px; border-radius:4px; background:#FF725E; line-height:40px; color:#ffffff; text-align:center; font-size:14px; margin-left:40px;}
.aboutlessonFoot .fr>a{ color:#ffffff;}
.bxslider2 li>i{ position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.5);}
.bxslider2 li>img{ width: 100%;}
/*Damon:Bubble style start*/
.d_bubble {height:65px;float: left;position: relative;}
.bubble {display:none;position: absolute;width:110px;background: #fff;top:37px;left: -12px;text-align: center;}
.d_bubble:hover .bubble{display: block;border: 1px solid #ebebeb;}
.bubble:before {content:'';position: absolute;top: -10px;left: 15px;border-bottom: 10px solid #fff;border-left: 10px solid transparent;border-right: 10px solid transparent;}
.bubble.loading:after {content:'';width: 16px;height: 16px;display: inline-block;background: transparent url(../images/loading.gif) 0 0 no-repeat;-webkit-background-size: cover;
background-size: cover;margin: 10px auto;}
.bubble li a {display: block;height: 30px;line-height:30px;padding-left: 15px;color: #666;font-size: 12px;text-align: left;}
.bubble li a:hover {color:#5ecfba;background: #f5f5f5;}
/*Bubble style end*/

.bxslider2{ width:100%; height:694px; display:block; overflow: hidden;}
.section5 .bx-wrapper{ width:100%; height:100%; display:block; position:relative; overflow:hidden; z-index:5;}

.modal-sm,.modal-dialog{ width:400px;}
.form-control{ box-sizing:border-box;}
.modal-header{ color:#5ecfba;}
.good-tips{ margin-bottom:15px;}
.course-play-list h1, .jspDrag, .btn-micv5{ background-color:#5ecfba; color:#ffffff; padding:8px 12px;}
.course-play-list h1, .jspDrag, .btn-micv5:hover{ color:#ffffff;}
.threeLogin{ text-align: right; padding-top: 10px;}
.threeLogin span{ color: #B3C3C0; float: left; font-size: 14px;}
.threeLogin a{ display:inline-block; width: 20px; height: 20px; background: url(../images/login_img.png) no-repeat; vertical-align: middle; margin-left: 15px;cursor: pointer;}
.threeLogin a.nqq{ background-position: 0 0;}
.threeLogin a.nqq:hover{ background-position: 0 -20px;}
.threeLogin a.nwx{ background-position: -20px 0;}
.threeLogin a.nwx:hover{ background-position: -20px -20px;}
.threeLogin a.nwb{ background-position: -40px 0;}
.threeLogin a.nwb:hover{ background-position: -40px -20px;}
.register-tabs{height: 36px;line-height: 24px;	padding-bottom: 12px;	border-bottom: #C4C4C4 solid 1px;	margin-bottom: 25px;	background: url(../images/midline.png) no-repeat top center; box-sizing:border-box;}
.register-tabs li {	float: left;	width: 50%;	height: 24px;	text-align: center;	font-size: 16px;	cursor: pointer}
.register-tabs li a{ color:#777777;}
.register-tabs li.active a {color: #1BBC9B}
.v5-input-txt .form-control{height: 42px;line-height: normal;padding-bottom: 10px;padding-top: 10px;}
.v5-input-txt .btn{padding-bottom: 8px;padding-top:8px; }
.form-control-captcha{ width:150px;}
.cf_g{ margin-bottom:22px;}
.v5-yzm{ line-height:48px;}
.form-group img.captcha{ cursor:pointer; margin-top:7px;}
.form-control-phone{ width:190px;}
.cf:after {	clear: both;content: ".";	display: block;	height: 0;	visibility: hidden;	line-height: 0;}
.tips-error {margin-top: 15px;   padding-bottom: 5px;    padding-top: 5px;    text-align: center;}
.zy_email{ text-align: center; color: #5f5f5f;}
.zy_email p{ padding: 0 35px;}
.zy_email p.i{ padding: 40px 0 30px;}
.zy_email p.i img{ vertical-align: top;}
.zy_email p.a{ padding: 30px 0; text-align: center;}
.zy_email p.a>a{ display:inline-block; width: 148px; height: 34px; line-height: 34px; text-align: center; color: #ffffff; background: #5ecfbb; border: 1px solid #68c8b6; border-radius: 2px;}
.zy_email p.a>a:hover{ opacity: .7;}
.zy_success{ margin-bottom: 20px;}
.zy_success img{ vertical-align: middle; margin-right: 10px;}
.sendE{ margin-bottom: 20px;}
.sendE a{ text-decoration: underline; cursor: pointer;}
.sendE2{ margin-bottom: 20px;}

.bxslider li>i{ position: absolute; top:0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.4); z-index: 5;}

.zy_pingce{ background: #ffffff; width: 455px; border-radius: 5px !important;}
.zy_pingce_tit{ color: #5ECFBA; border-bottom: 1px solid #E2E2E2; font-size: 20px; padding: 10px 30px; position: relative;}
.zy_radioNew{ color: #81918E; font-size: 18px; cursor: pointer;}
.zy_radioNew input{ display: none;}
.zy_pingce_con_p{ font-size: 20px; color: #666666; margin-bottom: 40px;}
.zy_radioNew span{ display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-right: 15px; background: url(../images/xuanNew.png) no-repeat; margin-bottom: 4px; float: left; margin-top: 4px;}
.zy_pingce_con{ padding: 30px; overflow: hidden; height: 286px; position: relative;}
.zy_radioNew.cl span{ background-position: 0 bottom;}
.zy_pingce_con .pp{ padding-left: 20px; margin-bottom: 30px;}
.zy_pingce .close{ position: absolute; top:14px; right: 10px; z-index: 102; background: url(../images/c.png) no-repeat; width: 21px; height: 21px;}
.zy_pingce_con ul{ display: table; width: 2265px; position: absolute; left: 30px; top:30px; z-index: 100;}
.zy_pingce_con ul li{ float: left; width: 453px; padding:0 30px; box-sizing: border-box;}
.zy_pingce_btn{ width: 350px; height: 46px; line-height: 46px; text-align: center; color: #ffffff; font-size: 20px; background: #5ECFBA; display: inline-block; margin-bottom: 20px;}
.zy_pingce_btn:hover{ color: #ffffff;}
.zy_pingce_dl{ width: 320px; margin: 0 auto 20px;}
.zy_pingce_dl dd{ font-size: 24px; text-align: center; color: #81918E; border-bottom: 1px solid #E2E2E2; padding: 30px 0;}
.zy_pingce_dl_img{ position: absolute; left: 50%; top:-100px; margin-left: -99px; z-index: 10;}
.zy_pingce_dl dd a{ color: #81918E; display: block;}
.zy_pingce_dl dd a:hover{ color: #5ECFBA;}
.zy_pingce_dl_img2{ position: absolute; left: -106px; top:-169px; z-index: 10; max-width: 800px; }

/* 首页一键支付弹窗样式|首页分期支付弹窗样式 */
#index-pay-tips .index-pay-innerbox,#index-pay-success-tips .index-pay-success-innerbox {width: 370px;min-height: 210px;}
#index-pay-tips .index-pay-close,#index-pay-success-tips .index-pay-success-close {padding: 8px 10px;text-align: right;background: #5ECFBA;border-radius: 6px 6px 0 0;}
#index-pay-tips .index-pay-close img,#index-pay-success-tips .index-pay-success-close img {cursor: pointer;}
#index-pay-tips .index-pay-info,#index-pay-success-tips .index-pay-success-info {padding: 25px 30px;}
#index-pay-tips .index-pay-info,#index-pay-success-tips .index-pay-success-info p:nth-of-type(1),
#index-pay-success-tips .index-pay-success-info p:nth-of-type(1){margin-bottom: 15px;}
#index-pay-tips .index-pay-just,#index-pay-tips .index-pay-writting,#index-pay-success-tips .index-start {width: 120px;height: 30px;margin-top: 37px;padding: 0;line-height: 30px;color: #fff;}
#index-pay-tips .index-pay-just,#index-pay-success-tips .index-start {background: #5ECFBA;}
#index-pay-tips .index-pay-just {margin-right: 50px;}
#index-pay-tips .index-pay-writting,#index-pay-tips .index-pay-writting {background: #DDDDDD;border: 1px solid #DDDDDD;}

.section7 .img1.moveL{ margin-left: -1000px;}
.section7 .img2.moveL{ margin-left: 1000px;}

#KFLOGO,#iconDivMain1{ width: 0 !important; height: 0 !important; overflow: hidden;}

/*侧边栏*/
.toolbar {position: fixed; right: 0; bottom: 120px; z-index: 9999;}
.toolbar-item {width: 40px; height: 40px;  display: block; margin-top: 1px; position: relative; }
.toolbar-item-weixin{  background-image: url(../images/27right0.png);  background-repeat: no-repeat; height: 80px;}
.toolbar-item-weixin:hover{}
.toolbar-item-weibo{   background-image: url(../images/27right1.png);   background-repeat: no-repeat;height: 80px; position: relative;}
.toolbar-item-weibo:hover{}
.toolbar-item-weibo>div{ position:absolute !important; top:0; right: 0; z-index: 1200; height: 80px !important; padding-top: 10px !important; display: none;}
.toolbar-layer {    position: absolute;    right: 40px;    bottom: 0;    opacity: 0;    filter: alpha(opacity=0);    transition: all 1s;    transform: scale(0.01);    transform-origin: 95% 95%;}
.toolbar-item-fankui{ background: url(../images/fankui.png) center center no-repeat #5ecfba;}
.toolbar-item-fankui>span{ display: none; position: absolute; border: 1px solid #ececec; width: 90px; text-align: center; border-right: 0; box-sizing: border-box; background: #ffffff;    height: 40px; line-height: 40px; top:0; right: 40px;}
.toolbar-item-fankui:hover{ background-image: url(../images/fankui00.png)}
.toolbar-item-gotop{ background: url(../images/gotop.png) center center no-repeat #5ecfba; cursor: pointer;}
.toolbar-item-gotop>span{ display: none; position: absolute; border: 1px solid #ececec; width: 90px; text-align: center; border-right: 0; box-sizing: border-box; background: #ffffff;
    height: 40px; line-height: 40px; top:0; right: 40px;}
.toolbar-item-gotop:hover{background-image: url(../images/fanhui.png)}
.lixianB{ position: fixed; top:296px; right: 1px; width: 130px; background: #5ecfba; box-sizing: border-box; height: 74px; text-align: center; padding-top: 8px;z-index: 999;}
.lixianB .intxt{margin:0;padding:0;border:0;outline:0; background: #ffffff; color: #a4a4a3; width: 120px; padding: 6px 0; text-align: center; margin-bottom: 10px; font-size: 12px;}
.lixianB .inbtn{ width: 120px; height: 22px; line-height: 20px; text-align: center; border: 1px solid #ffffff; color: #ffffff; background: #5ecfba; cursor: pointer;}
.lixianB>div { bottom: 14px; display: none; position: absolute; right: 130px; width: 306px;}

.teacherVideo{ position: absolute; background: rgba(0,0,0,.4); width: 100%; height: 100%; z-index: 20; top:0; left: 0; display: none;}
.teacherVideo .video-js{ width: 1230px !important; margin: 0 auto;}
.lookVideo{transform: translate(0px,42px) scale(0.9);-ms-transform: translate(0px,42px) scale(0.9);	-webkit-transform: translate(0px,42px) scale(0.9);-o-transform: translate(0px,42px) scale(0.9);-moz-transform: translate(0px,42px) scale(0.8);}
/*.lookVideo a{transform: scale(0.9);-ms-transform: scale(0.9);-webkit-transform: scale(0.9);-o-transform: scale(0.9);-moz-transform: scale(0.9);}
*/
.teacherVideoClose{ width: 30px; height: 30px; border-radius: 50%; background:url(../images/close2.png) center center no-repeat #cfcfcf; position: absolute; top:10px; right:10px; z-index: 10;}
.teacherVideoD{width: 1230px; position:absolute; left: 50%; margin-left:-615px; top:0;}
.teacherVideoClose:hover{ background-color: #999;}

.aBox4Div{ width:1070px; margin:0 auto; height:610px; position:relative;}
.aBox4Div img{ position:absolute; left:0; top:0;}
.aBox4Div img.im4{}
.aBox4Div.HH img.im1{ top:160px;}
.aBox4Div.HH img.im9{ left:270px;}
.aBox4Div.HH img.im7{ top:320px;}
.aBox4Div.HH img.im8{ left:540px;}
.aBox4Div.HH img.im2{ left:810px;}
.aBox4Div.HH img.im5{ left:540px; top:160px;}
.aBox4Div.HH img.im6{ top:460px;left:540px;}
.aBox4Div.HH img.im3{ top:460px;left:810px;}

/* 首页红包样式 */
.redPackets {position: fixed;right: 0;bottom: 400px; z-index: 100;width: 60px;height: 70px;}
.redPackets .red-top{display: block;}
.redPackets .red-top { width: 60px;height: 70px;background: url(../images/red-packets.png) 0 0 no-repeat;  position: absolute;cursor: pointer; bottom: 0%; -webkit-animation: jump 800ms ease;  -moz-animation: jump 800ms ease;   -o-animation: jump 800ms ease;   -ms-animation: jump 800ms ease;   animation: jump 800ms ease;}
/* 首页老带新注册样式 */
#own-register-tips .own-register-innerbox {width: 596px;min-height: 362px;position: relative;background: url(../images/own-register-bg.png) 0 0 no-repeat;text-align: center;}
#own-register-tips .modal-content {border: none;background-color: transparent;box-shadow: none;}
#own-register-tips .own-register-close {position: absolute;right: -30px;top: 30px;cursor: pointer;}
#own-register-tips .own-register-info {width: 544px;min-height: 300px;margin-left: 50px;padding-top: 62px;}
#own-register-tips .own-register-info p {color: #FEE94E;}
#own-register-tips .own-register-info p:first-child {margin-top: 27px;}
#own-register-tips .own-register-info .own-just-register {margin-top: 100px;cursor: pointer;}
/* 首页老带新弹窗样式 */
#Old-with-new-tips .Old-with-new-innerbox {width: 720px;}
#Old-with-new-tips .Old-with-new-innerbox .modal-content {padding: 20px;position: relative;border-radius: 4px}
#Old-with-new-tips .Old-with-new-innerbox .Old-with-new-close {position: absolute;right: -16px;top: -28px;cursor: pointer;}
.Invitation-rules-info span {display: block;}
.Old-with-new-info {font-size: 0;}
.Old-with-new-info .share-link,.Old-with-new-info .copy-link {display: inline-block;vertical-align: top;}
.Old-with-new-info .Old-with-new-share {width: 680px;min-height: 340px;}
.Old-with-new-info .Invitation-rules,.Old-with-new-info .Invitation-rules-up,.Old-with-new-info .share-links img {cursor: pointer;}
.Old-with-new-info .Invitation-rules {margin-left: 20px;}
.Old-with-new-info .share-link {width: 520px;height: 30px;}
.Old-with-new-info .copy-link {width: 120px;height: 30px;background: #5ECFBA;margin-left: 33px;color: #fff;padding: 0;line-height: 30px;}
.Old-with-new-info .share-links {margin-top: 26px;font-size: 0;}
.Old-with-new-info .share-links span {vertical-align: middle;}
.Old-with-new-info .share-links .WX-share {position: relative;vertical-align: middle;display: inline-block;}
.Old-with-new-info .share-links .QR-code-box {display: none;width: 260px;height: 120px;padding: 10px;position: absolute;background: #fff;top: -125px;box-shadow: 0 0 10px rgba(0,0,0,.2);left: 35px;}
.Old-with-new-info .share-links .QR-code {width: 95px;height: 95px;display: inline-block;vertical-align: top;}
.Old-with-new-info .share-links .QR-code img {width: 100%;}
.Old-with-new-info .share-links .jiathis_style {display: inline-block;vertical-align: middle;}
.Old-with-new-info .jiathis_style .jtico {width: 30px !important;height: 30px !important;padding: 0 !important;margin-right: 10px;}
.Old-with-new-info .jiathis_style .jtico_cqq {background: url(../images/QQ.png) 0 0 no-repeat !important;}
.Old-with-new-info .jiathis_style .jtico_tsina {background: url(../images/wb.png) 0 0 no-repeat !important;}
.Old-with-new-info .share-links .WX-share:hover .QR-code-box {display: block;}
.Old-with-new-info .share-links .WX-share .QR-code-box .saosao {display: inline-block;width: 140px;height: 66px;vertical-align: top;margin-top: 10px;}
/*新春报名*/
.zy_activityDemo{ background: none; box-shadow: none; border:0;}
.zy_activityDemo>div{ width: 660px; height: 460px; background: url(../images/activityBoxbg.png) no-repeat; text-align: center;}
.zy_activityDemo>div>a{ margin-top: 374px; display: inline-block; width: 151px; height: 46px; background: url(../images/activityBoxBtn.png) center bottom no-repeat; color: #ffffff; line-height: 46px; font-size: 20px;}
.zy_activityDemo>div>a:hover{ background-position: center top;}
.zy_activityDemo>a{ background: url(../images/c.png) center center no-repeat #ffffff; width: 40px; height: 40px; border-radius: 50%; position: absolute; top:0; right: 0;}
@media screen and (max-width: 1520px) {
	.jobs_list li>div .p1{ padding-top:66%;}
	.bxslider > li > div{ right: 10%; font-size: 18px; width: 432px;}
}
@media screen and (max-width: 1440px) {
	.section5 .div .font16{ margin-bottom: 30px;}
}
@media screen and (max-width: 1290px) {
	.jobs_list li>div .p1{ padding-top:56%;}

}


