@import url(../public-same/public-same.css);
/* public */

/* layout */
/* user-banner */
.user-banner{height: 158px;background: url(../../images/user-center/001.jpg) center center no-repeat; background-size: 100% 100%; color: #666;font-size: 12px;}
.user-banner-in{height: 158px;}
.user-banner .u-photo-box{position: relative;width: 98px;height: 98px;}
.user-banner .u-photo-box .u-photo{display: inline-block;width: 98px;height: 98px; border-radius: 50%;overflow: hidden;}
.user-banner .u-photo-box .ico{position: absolute;right:4px;bottom:4px;margin:0;}
.user-banner .u-text-info{margin:0 20px}
.user-banner .u-name{display: inline-block;font-size: 24px;vertical-align: middle;color:#333;}
.user-banner .u-status{display: inline-block;height:24px;margin-left:5px;padding-left: 28px;background: url(about:blank) no-repeat 0 0;font-size: 12px;vertical-align: middle;}
.user-banner .u-teacher-status{background-image: url(/static/images/public-same/004.png);}
.user-banner .u-student-status{background-image: url(/static/images/public-same/005.png);}
.user-banner .u-status .text{display:block;height:18px;line-height:18px;border-radius: 2px;margin-top:3px;padding-right: 10px;color:#fff;}
.user-banner .u-teacher-status .text{background-color: #ffad0f;}
.user-banner .u-student-status .text{background-color: #5ecfba;}
.user-banner .u-title, .user-banner .u-introduction{display: block;margin-top: 5px}
.user-banner .u-else-box{white-space: nowrap;font-size: 0}
.user-banner .u-else-box .list-inline{margin-left: 0}
.user-banner .u-else-box li{width: 70px;height: 64px;background: rgba(255,255,255,0.4);text-align: center;cursor: default;}
.user-banner .u-else-box li:first-child{margin-right:2px;}
.user-banner .u-else-box li .i-num{display: block;margin-top:10px;font-size: 18px;font-weight: 700;color: #666}
.user-banner .u-else-box li .i-type{font-size: 14px;color: #999;}
.user-banner .u-else-box li:hover{background: rgba(255,255,255,0.7);}
.user-banner .u-else-box li:hover .i-num{color: #ffad0f}
.user-banner .u-else-box li > a{display: block;}
.user-banner .u-else-box .btn{display: block;width: 100%;margin-top: 2px;border:none;}
.user-banner .u-else-box .btn .ico-label-text{margin-top: -2px}
.user-banner .u-else-box .btn-set{background-color: #b7b7b7;}
.user-banner .u-else-box .btn-set:hover{background-color: #a2a2a2}
.user-banner .u-else-box .btn-right{background-color: #b3bfc0;}
.user-banner .u-else-box .btn-right:hover{background-color: #a6b1b3}

/* block-nav-banner */
.block-nav-banner{background-color: #fbfbfb;border-bottom: 1px solid #e0e0e0}
.block-nav-banner a{display: block;min-width: 7em;height: 49px;line-height: 49px;text-align: center}
.block-nav-banner a:hover{color:#5ecfba;}
.block-nav-banner a .ico{margin-left: 0}
.block-nav-banner .active a{border-bottom:4px solid #5ecfba;color:#5ecfba;position: relative;height: 50px}
.block-nav-banner a:hover .ico-list, .block-nav-banner .active .ico-list{background-position:-24px -303px}
.block-nav-banner a:hover .ico-book, .block-nav-banner .active .ico-book{background-position:-24px -327px}
.block-nav-banner a:hover .ico-pen , .block-nav-banner .active .ico-pen{background-position:-24px -351px}
.block-nav-banner a:hover .ico-QA  , .block-nav-banner .active .ico-QA{background-position:-24px -375px}
.block-nav-banner a:hover .ico-text, .block-nav-banner .active .ico-text{background-position:-24px -399px}
.block-nav-banner a:hover .ico-horn, .block-nav-banner .active .ico-horn{background-position:-24px -424px}

/* main-area */
.main-area{padding:20px;min-height:756px;}
.main-area-left{width: 74%;}
.main-area-leftin{margin-right: 20px;}
.main-area-right{width: 26%;}
.main-area .ibox-in{background-color: #fff}
.main-area-right > .ibox > .ibox-in{margin-bottom: 20px;padding:20px;}
/* filter-box */
/*.filter-box{padding:10px 20px;background-color: #fff}*/
/*user center nav style start*/
.list-inline .filter-box {display: none;}
/*.list-inline .dropdown-menu {position: static;}*/
.block-nav-banner .list-inline .active .dropdown a {border-bottom: none;}
.block-nav-banner .list-inline .first .dropdown >a {display: none;}
.block-nav-banner .list-inline .first {position: relative;}
.block-nav-banner .list-inline .first:hover .filter-box {display: block;}
.block-nav-banner .list-inline .first .dropdown-menu {display: block;padding: 0;margin: 0;box-shadow: none;}
.block-nav-banner .list-inline .first .dropdown-menu li a {height: 40px !important;line-height: 35px;min-width: 96px;padding: 0;}
.block-nav-banner .list-inline .first .dropdown-menu li:hover {background-color: #5ecfba;}
.block-nav-banner .list-inline .first .dropdown-menu li:hover a{color: #fff !important;}
/*user center nav style end*/
/* dynamic-list */
.dynamic-list .item{margin-top: 20px;max-width: 839px;}
.dynamic-list .item:first-child {margin-top: 0;}
.dynamic-list .u-photo-box{position: relative;width: 50px;margin:auto;}
.u-photo-box>.u-photo{display: inline-block;width: 50px;min-height: 50px; border-radius: 50%;overflow: hidden;}
.u-photo-box .ico{position: absolute;right:0;bottom:0;margin:0;}
.dynamic-list .text-center .u-name{display: block}
.dynamic-list .u-relative{display:inline-block;margin-top: 5px;color: #fff;border-radius: 2px;padding:2px 5px;}
.dynamic-list .u-relative-1{background-color: #ffad0f}
.dynamic-list .u-relative-2{background-color: #ff725f}
.dynamic-cnt-box{background-color: #fff;position: relative;margin-left:10px;padding:20px;max-width: 779px;}
.dynamic-cnt-box:before{content:'';display: block;width: 0;height: 0;border-right:10px solid #fff;border-top:10px solid transparent;;border-bottom:10px solid transparent;position: absolute;top:17px;right:100%;}
.dynamic-cnt-box .tip{font-size: 12px;color:#999;margin-bottom:5px;}
.dynamic-cnt-box .em-text{color:#5ecfba;}
.dynamic-cnt-em{font-size: 16px;font-weight: 700}
.dynamic-cnt-cur{margin:10px 0;color: #666; word-break: break-all;max-width: 738px;}
.dynamic-cnt-cur:first-child{margin-top: 0}
/* blockquote */
.dynamic-cnt-box blockquote{margin:10px 0;}
/* blockquote: bq-play */
.bq-play .column-col{background-color:#f4f4f4;padding:15px 20px;}
.bq-play .column-col-mc{width: 80px;height: 80px;background-color:#e6e6e6;}
.bq-play h3{font-size: 16px;color: #666;font-weight: 700}
/* blockquote: bq-QA */
.bq-QA {padding:15px 20px;background-color: #f4f4f4;font-size: 12px;color: #999}
.bq-QA h3{font-size: 16px;color: #666;font-weight: 700; line-height:1.4;word-break:break-all;}
.bq-QA .hot-tag-box{margin:10px 0;}
.bq-QA .hot-tag{margin-right: 5px;}
.bq-QA .from-where {display: inline-block;margin-left: 20px;color: #bbb;vertical-align: middle;}
.bq-QA .column-col-mr .i-item{display: inline-block;margin-left: 15px;vertical-align: middle;}
.bq-QA .praise-btn{margin-top: -2px}
.bq-QA .praise-btn .ico{margin-right: 2px}
.bq-QA .praise-act, .bq-QA .praise-act:hover{color: #ffad0f}
.bq-QA .praise-act .ico-good, .bq-QA .praise-act:hover .ico-good{background-position: 0 -154px}
/* blockquote: bq-article */
.bq-article {padding:15px 20px;background-color: #f4f4f4;font-size: 12px;color: #999}
.bq-article .column-layout{margin-top: 10px}
.bq-article .column-layout:first-child{margin-top: 0}
.bq-article .column-col-l .col-in{display: block;width: 140px;max-height:140px;overflow: hidden;}
.bq-article .column-col-l img{width: 140px;height:140px;}
.bq-article .column-full .col-in{margin-left: 20px;}
.bq-article .column-full h3{font-size: 16px;color: #666;font-weight: 700; line-height:1.4;}
.bq-article .column-full h3 a{color: #000}
.bq-article .column-full .article-abstract{margin-top:10px;line-height: 22px;height:88px;overflow: hidden;}
.bq-article .column-full .article-abstract a{display: inline-block;color:#5ecfba;}
.bq-article .column-col-mr .i-item{display: inline-block;margin-left: 15px;vertical-align: middle;}
.bq-article .praise-btn{margin-top: -2px}
.bq-article .praise-btn .ico{margin-right: 2px}
.bq-article .praise-act, .bq-article .praise-act:hover{color: #ffad0f}
.bq-article .praise-act .ico-good, .bq-article .praise-act:hover .ico-good{background-position: 0 -154px}
/* blockquote: bq-activity */
.bq-activity {padding:15px 20px;background-color: #f4f4f4;font-size: 12px;color: #999}
.bq-activity .column-layout{margin-top: 10px}
.bq-activity .column-layout:first-child{margin-top: 0}
.bq-activity .column-col-l .col-in{display: block;width: 280px;max-height:140px;overflow: hidden;}
/*.bq-activity .column-col-l img{width: 280px;height:140px;}*/
.bq-activity .column-col .col-in{margin-left: 20px;}
.bq-activity .column-col h3{line-height:26px;font-size: 16px;font-weight: 700;}
.bq-activity .column-col h3 a{color: #000}
.bq-activity .column-col p{margin-top:5px;color:#999;font-size: 14px}
.bq-activity .column-col .info-free{color:#5ecfba;font-weight: 700}
.bq-activity .column-col .info-group{font-size: 12px;}
.bq-activity .column-col .info-state{color:#ffad0f;}
.bq-activity .column-col-mr .i-item{display: inline-block;margin-left: 15px;vertical-align: middle;}
.bq-activity .praise-btn{margin-top: -2px}
.bq-activity .praise-btn .ico{margin-right: 2px}
.bq-activity .praise-act, .bq-activity .praise-act:hover{color: #ffad0f}
.bq-activity .praise-act .ico-good, .bq-activity .praise-act:hover .ico-good{background-position: 0 -154px}
/* dynamic-cnt-foot */
.dynamic-cnt-foot{font-size: 12px;color:#999;}

/* statistics-list */
.statistics-list li{border-top:1px solid #f5f5f5;padding: 5px 0;color: #999}
.statistics-list li:first-child{border-top:none;}
.statistics-list li .ico{margin-right: 20px;}
.statistics-list li .ico-label-text{min-width: 7em;}
.statistics-list li .value{display: inline-block;font-size: 16px;font-weight: 700;color:#666;vertical-align: middle;}
.statistics-list li .em-text{color:#ffad0f;}

/* user-group-list */
.user-group-list>li{float: left;width: 25%;text-align: center;margin-top: 15px;font-size: 12px;color: #666; height: 80px; word-break: break-all;}
.user-group-list>li > div{display: inline-block; position: relative;}
.user-group-list>li>.u-photo-box>.u-photo{display: block;width: 50px;height: 50px;margin:0 auto 5px;border-radius: 50%;overflow: hidden;}

/* bar-ad-pic */
.bar-ad-pic{margin-bottom: 20px;}

/* tab-box */
.tab-box .ibox-in{padding:30px;}
.tab-box .ibox-head{border-bottom:1px solid #ececec;padding-bottom: 20px;margin-bottom: 30px;}
.tab-box .tab-list{color:#999;font-size: 12px;}
.tab-box .tab-list > li{display: inline-block;min-width: 100px;padding:0 10px;text-align: center;}
.tab-box .tab-list > li.active{color:#000;font-size: 16px}
.tab-box .tab-pane{display: none;}
.tab-box .tab-pane-list > .active{display: block;}

/* teach-box */
.teach-box h3{margin-top:30px;margin-bottom:20px;padding-left:10px;border-left: 4px solid #5ecfba;font-size: 16px;}
.teach-box h3:first-child{margin-top:0;}
.teach-lesson-list{margin-right: -20px;margin-top: -20px;}
.teach-lesson-list .item{margin-top: 20px; height: 206px;}
.teach-lesson-list .col-in{margin-right: 20px;overflow: hidden;}
.teach-lesson-list .col-in a{display: block; position: relative;}
.teach-lesson-pic{display: block;}
.teach-lesson-pic img{width: 100%; height: 160px;}
.teach-lesson-name{display: block;margin-top: 10px;color: #666}
.teach-lesson-list .col-in a .zy_xuexi{display: none;margin-top: 10px;color: #666}
.teach-lesson-list .col-in a:hover .teach-lesson-name{ display: none;}
.teach-lesson-list .col-in a:hover .zy_xuexi{ display: block;}
.teach-class-list{margin-right: -20px;margin-top: -20px}
.teach-class-list .item {margin-top: 20px;}
.teach-class-list .item .col-in{margin-right: 20px;}
.teach-class-list .item .col-in{margin-right: 20px;}
.teach-class-list .item .col-in > .column-layout{display: table;width: 100%;height:150px}
.teach-class-info{display: inline-block; width: 100%;padding: 0 10px;}
.teach-class-info .column-col-ml{ width: 151px; display: inline-block;}
.teach-class-info .column-col-mr{ padding-left: 10px; display: inline-block; width: 90px;}
.teach-class-info .column-col-mr img{ width: 90px;}
.teach-class-name, .teach-class-name, .teach-class-students{display: block;margin:2px 10px 2px 0;font-size: 12px;color: #fff}
.teach-class-name{font-size: 15px;font-weight: 700; word-break: break-all;}

/* learn-box */
.learn-box h3{margin-top:30px;margin-bottom:20px;padding-left:10px;border-left: 4px solid #5ecfba;font-size: 16px;}
.learn-box h3:first-child{margin-top:0;}
.learn-lesson-list{margin-right: -20px;margin-top: -20px;}
.learn-lesson-list .item{margin-top: 20px;}
.learn-lesson-list .col-in{margin-right: 20px;overflow: hidden;}
.learn-lesson-list .col-in a{display: block;}
.learn-lesson-list .col-in a .zy_xuexi{display: none;margin-top: 10px;color: #666;}
.learn-lesson-pic{display: block;}
.learn-lesson-pic img{width: 100%; height: 160px;}
.learn-lesson-name{display: block;margin-top: 10px;color: #666}
.learn-lesson-relative{display: block;color: #999}
#LV_LESSON .col-in a:hover .learn-lesson-name{ display: none;}
#LV_LESSON .col-in a:hover .learn-lesson-relative{ display: none;}
#LV_LESSON .col-in a:hover .zy_xuexi{ display: block;}
.learn-class-list{margin-right: -20px;margin-top: -20px;}
.learn-class-list .item{margin-top: 20px;}
.learn-class-list .item .col-in{margin-right: 20px;}
.learn-class-list .item .col-in{margin-right: 20px;}
.learn-class-list .item .col-in > .column-layout{display: table;width: 100%; height:150px}
.learn-class-info{display: inline-block; width: 100%;padding: 0 10px;}
.learn-class-info .column-col-mr,.teach-class-info .column-col-mr{ #padding-left: 10px; width: 30%; display: inline-block; box-sizing: border-box;}
.learn-class-info .column-col-ml,.teach-class-info .column-col-ml{ width: 68%;display: inline-block; word-break: break-all; padding-left: 10px;}
.learn-class-name, .learn-class-name, .learn-class-students{display: block;margin:2px 0px 2px 0px;font-size: 12px;color: #fff;}
.learn-class-name{font-size: 16px;font-weight: 700;}
.learn-class-info .column-col-mr img{ width: 100%;}

/* course-recom-list */
.course-recom-list .item{padding:10px 0;}
.course-recom-list .item .column-col-l .col-in{display: block;width: 120px;max-height:60px;overflow: hidden;}
.course-recom-list .item .column-col-l img{width: 120px;height:60px;}
.course-recom-list .item .column-full .col-in{margin-left: 10px; word-break: break-all;}
.course-recom-list .item .column-full h3{line-height:20px;font-size: 14px;max-height:40px;overflow: hidden;}
.course-recom-list .item .column-full .tearcher-name{margin-top:3px;color:#999;font-size: 12px;}

/* hot-activity-list */
.hot-activity-list .item{padding:10px 0;}
.hot-activity-list .item .column-col-l .col-in{display: block;width: 120px;max-height:60px;overflow: hidden;}
/*.hot-activity-list .item .column-col-l img{width: 120px;height:60px;}*/
.hot-activity-list .item .column-full .col-in{margin-left: 10px;}
.hot-activity-list .item .column-full h3{line-height:20px;font-size: 14px;height:40px;overflow: hidden;}
.hot-activity-list .item .column-full .info-time{margin-top:3px;color:#999;font-size: 12px;}

/* famous-teacher-list */
.famous-teacher-list{position: relative;}
.famous-teacher-list .carousel-curindex-totle{position: absolute;top:-26px;right:70px;font-size: 12px;color: #999;white-space: nowrap;}
.famous-teacher-list .carousel-curindex-totle .carousel-indicators{position: static;display: inline;margin:0;}
.famous-teacher-list .carousel-curindex-totle .carousel-indicators li{display: none;width: auto;height: auto;border:none;border-radius: 0;text-indent: 0;}
.famous-teacher-list .carousel-curindex-totle .carousel-indicators li.active{display: inline;}
.famous-teacher-list .carousel-trun{position: absolute;top:-30px;right:0;white-space: nowrap;}
.famous-teacher-list .carousel-trun > a{position: static;display: inline-block;width:24px;height:24px;margin-left:5px;line-height:24px;border:1px solid #ddd;border-radius: 50%;vertical-align: middle;font-size: 14px;color:#ddd;text-shadow: none;text-align: center;opacity: 1;font-family: "sans-serif",serif;font-weight: 700}
.famous-teacher-list .carousel-trun > a:hover{border-color: #999;opacity: 1;color:#999;}
.famous-teacher-list .item{margin-top: 10px;}
.famous-teacher-list .item > a{display: block;min-height:150px;}
.famous-teacher-list .u-photo{display: block;width: 50px;height: 50px;border-radius: 50%;overflow: hidden;}
.famous-teacher-list .u-name{font-size: 14px;color: #000}
.famous-teacher-list .u-introduction{display: block;margin-top:10px;font-size: 12px;color: #666}
.famous-teacher-list .column-full{padding-left: 10px}

/* my-qa-list */
.my-qa-list{font-size: 12px;}
.my-qa-list .item{padding: 20px 0;border-top:1px solid #ececec;}
.my-qa-list .item:first-child{border-top:none;margin-top:-20px;}
.my-qa-list h3{font-size: 16px;font-weight: 700}
.my-qa-list h3 a{color:#333;}
.my-qa-list h3 .ico{margin-left:0;}
.my-qa-list .item-new-answer{margin-top: 15px;}
.my-qa-list .item-new-answer .tips{display: inline-block;margin-right: 10px;color:#999;}
.my-qa-list .hot-tag-box{margin-top:15px;}
.my-qa-list .hot-tag{margin-right:5px;}
.my-qa-list .from-where{display: inline-block;margin-left:20px;color:#bbb;vertical-align: middle;}
.my-qa-list .item-foot{margin-top: 15px;color:#999;}
.my-qa-list .item-foot .col-left{width: auto;text-align: left;vertical-align: middle;}
.my-qa-list .item-foot .col-right{width: auto;text-align: right;vertical-align: middle;}
.my-qa-list .item-foot .col-right .i-item{display: inline-block;margin-left: 15px;vertical-align: middle;}
.my-qa-list .column-col-mr .i-item{display: inline-block;margin-left: 15px;vertical-align: middle;}
.my-qa-list .praise-btn{margin-top: -2px}
.my-qa-list .praise-btn .ico{margin-right: 2px}
.my-qa-list .praise-act, .my-qa-list .praise-act:hover{color: #ffad0f}
.my-qa-list .praise-act .ico-good, .my-qa-list .praise-act:hover .ico-good{background-position: 0 -154px}

/* my-article-list */
.my-article-list .item{padding:20px 0; border-bottom: 1px solid #ececec;color:#999;font-size: 12px}
.my-article-list .item:first-child{}
.my-article-list .item > .column-col-l .col-in{display: block;width: 160px;max-height:160px;overflow: hidden;}
.my-article-list .item > .column-col-l img{width: 160px;height:160px;}
.my-article-list .item > .column-full .col-in{margin-left: 20px;}
.my-article-list .item > .column-full h3{line-height:26px;font-size: 18px;font-weight: 700;}
.my-article-list .item > .column-full h3 a{color: #000}
.my-article-list .item > .column-full .article-abstract{margin-top:10px;line-height: 22px;height:88px;overflow: hidden; word-break: break-all;}
.my-article-list .item > .column-full .article-abstract a{display: inline-block;color:#5ecfba;}
.my-article-list .item-about{margin-top: 8px;color:#999;font-size: 12px}
.my-article-list .item-about .u-photo, .my-article-list .item-about .u-name, .my-article-list .item-about .u-datetime, .my-article-list .item-about .hot-tag-group{display:inline-block;vertical-align: middle;margin-right: 15px}
.my-article-list .item-about .u-photo{width: 28px;height: 28px;border-radius: 50%;overflow: hidden;margin-right: 5px}
.my-article-list .item-about .u-photo img{display:block;}
.my-article-list .item-about .hot-tag-group{margin-right: 10px}
.my-article-list .item-about .hot-tag{margin-right: 5px}
.my-article-list .item-about .u-view, .my-article-list .item-about .u-comm, .my-article-list .item-about .fun-btn{margin-left: 15px;display: inline-block;vertical-align: middle;}
.my-article-list .item-about .fun-btn{cursor: pointer;}
.my-article-list .item-about .fun-btn:hover{color:#5ecfba;}
.my-article-list .item-about .fun-btn .ico{margin-left: 0;margin-right: 3px}
.my-article-list .item-about .praise-btn{margin-top: -1px}
.my-article-list .item-about .praise-btn .ico{margin-right: 2px}
.my-article-list .item-about .praise-act, .my-article-list .item-about .praise-act:hover{color: #ffad0f}
.my-article-list .item-about .praise-act .ico-good, .item-about .praise-act:hover .ico-good{background-position: 0 -154px}

/* my-activity-list */
.my-activity-list .item{padding:20px 0; border-top: 1px solid #ececec;}
.my-activity-list .item:first-child{border-top: none;margin-top: -20px}
.my-activity-list .item .column-col-l .col-in{display: block;width: 360px;max-height:180px;overflow: hidden;}
/*.my-activity-list .item .column-col-l img{width: 360px;height:180px;}*/
.my-activity-list .item .column-col .col-in{margin-left: 20px;}
.my-activity-list .item .column-col h3{line-height:26px;font-size: 16px;font-weight: 700;}
.my-activity-list .item .column-col h3 a{color: #000}
.my-activity-list .item .column-col p{margin-top:10px;color:#999;font-size: 14px}
.my-activity-list .item .column-col .info-free{color:#5ecfba;font-weight: 700}
.my-activity-list .item .column-col .info-group{font-size: 12px;}
.my-activity-list .item .column-col .info-state{color:#ffad0f;}

/* student-visitors-tip */
.main-area-right .student-visitors-tip{margin:-20px 0 20px;padding:15px 0;background-color: #ebf0ef;color:#999;text-align: center;font-size: 12px}
.main-area-right .student-visitors-tip .em-text{color:#5ecfba;}

/* my-fansfriend-list */
.my-fansfriend-list{margin-right: -20px;margin-top: -20px;font-size: 12px;}
.my-fansfriend-list .item{margin-top: 20px; height: 125px;}
.my-fansfriend-list .item > .col-in{margin-right: 20px;padding:20px;background-color:#f5f5f5}
.my-fansfriend-list .u-photo{display: block;width: 50px;height: 50px;border-radius: 50%;overflow: hidden;}
.my-fansfriend-list .u-name{font-size: 14;color:#333;font-weight: 700}
.my-fansfriend-list .u-title, .my-fansfriend-list .u-introduction{color: #999}
.my-fansfriend-list .item > .col-in > .column-layout > .column-full{padding-left: 20px}
.my-fansfriend-list .item > .col-in > .column-layout > .column-full > *{margin-top: 5px}
.my-fansfriend-list .item > .col-in > .column-layout > .column-full > :first-child{margin-top: 0}

/* chat-box */
.chat-box .ibox{width: 1000px;margin:auto;box-shadow: 0 0 15px rgba(0,0,0,0.2);border-radius: 3px;overflow: hidden;}
.chat-box .ibox-head{background-color: #5ecfba;padding:20px;margin-bottom: 0;border-bottom: none}
.chat-box .ibox-head li{min-width: 5em;height:35px;line-height:35px;vertical-align: middle; position: relative;}
.chat-box .ibox-head li > a{display: block;color:#fff;font-size: 16px}
.chat-box .ibox-head li.active{border-radius: 20px; background-color:#fff;}
.chat-box .ibox-head li.active > a{color: #5ecfba;}
.chat-box .tab-pane{background:fixed url(/static/images/user-center/chat-bg.jpg) 50% 47%;}
/* user-group-list */
.chat-box .user-group-list{height: 450px;background-color: #f9f6f4;overflow: auto}
.chat-box .user-group-list .item{border-bottom:1px solid #e0e0e0;padding:20px;cursor: pointer; }
.chat-box .user-group-list .item>div{position: relative;}
.chat-box .user-group-list .item:hover{background-color: #fff}
.chat-box .user-group-list > .active{background:fixed url(/static/images/user-center/chat-bg.jpg) 50% 47%;cursor: default;}
.chat-box .u-photo{display: block;width: 50px;height: 50px;border-radius: 50%;overflow: hidden;}
.chat-box .user-group-list .item .column-full{padding-left: 20px}
.chat-box .user-group-desc{height: 1.5em;white-space: nowrap;text-overflow: ellipsis;}
.chat-box .user-group-desc{color: #999}
/* user-words-list */
.chat-box .user-words-list{height: 448px;padding:30px;overflow: auto}
.chat-box .user-words-list .item{clear:both;margin:10px 0;}
.chat-box .user-words-list .item .column-col-l{vertical-align: bottom;}
.chat-box .user-words-cnt{position: relative;margin:0 20px;border-radius: 10px;padding:20px;background-color: #e8f6fc;box-shadow: 0 1px 0 rgba(0,0,0,0.25)}
.chat-box .user-words-list .pull-right .user-words-cnt{margin-left: 70px;}
.chat-box .user-words-list .pull-left .user-words-cnt{margin-right: 70px;}
.chat-box .user-words-list .pull-left .user-words-cnt:before, .chat-box .user-words-list .pull-right .user-words-cnt:before{position: absolute;left:-29px;bottom:-1px;content: '';display: block;width: 40px;height: 40px;background: url(/static/images/user-center/chat-arrow.png) no-repeat 0 100%;}
.chat-box .user-words-list .pull-right .user-words-cnt:before{left:auto;right:-29px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1); transform:scaleX(-1);/*IE*/filter:FlipH}
.chat-box .user-write-box{height: 100px;padding:0 20px;background: rgba(255,255,255,0.4);border-top:1px solid rgba(255,255,255,0.75);}
.chat-box .user-write-box .column-layout{height: 100%;}
.chat-box .user-write-box .column-layout .ico-pic{margin-right: 20px;}
.chat-box .user-write-box .column-layout .btn{margin-left: 20px;}

/* set-form-box */
.set-form-box .control-label{display:inline-block;min-width:8em;padding-right: 20px;text-align: right;font-weight: 700}
.set-form-box .link{display: inline-block;color: #5ecfba}
.set-form-box .u-photo{position: relative;display: inline-block;width:90px;height: 90px;vertical-align: middle;border-radius: 50%;overflow: hidden;}
.set-form-box .u-photo-change{padding:10px;margin-right:25px;cursor: pointer;color: #999;}
.set-form-box .u-photo-tip{display: inline-block;vertical-align: middle;}
.set-form-box .u-photo-tip .link{display: block;}
.set-form-box .column-col, .set-form-box .column-col-m, .set-form-box .column-col-r{padding:10px 0;}
.set-form-box .form-control{display: inline-block;width: 300px}
.set-form-box .select-group{font-size: 0}
.set-form-box .select-group .form-control{width: 145px;margin-right: 10px;}
.set-form-box .btn{width: 145px;margin-right: 10px;}
.set-form-box .attention-area .hot-tag-boxin{padding:10px 0;}
.set-form-box .attention-area .add-tag{display: inline-block;width: 24px;height: 24px;background-color: #5ecfba;border-radius: 2px;vertical-align: middle;margin-top:5px;cursor: pointer;text-align: center;}
.set-form-box .attention-area .add-tag .ico{margin-top:2px;}
.set-form-box .attention-area .tip{color:#999;margin:10px 0;}